body {
  font-weight: ;
  background-color: #444444;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  }


.name-header {
  background-color: black;
     text-align: center;
  text-transform: uppercase;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
  border-left: 1px solid white;
  border-right: 1px solid white;
  }


.phone-number {
  margin: 2% 10%;
}


.section1 {
  border-bottom: 2px dotted #aaa;
  border-color: gold;
  font-weight: bold;
  margin: 0%
}


.section2 {
  font-weight: bold;
}


.section3{
  border-bottom: 3px dotted black;
}


.section4 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-right: 60%
}

.box {
  width: px;
	height: 180px;
	border: 2px solid;
	font-size: 40px;
	text-align: center;
 float: right;
  transition: transform;
  }

.parent:hover .box{
  transform: translate(10%);
  border:10px;
}
#more {
  display: none;
}

}

@media(min-width:1000px){
  body{
    font-size:1.5rem;
    line-height: 1.5;
  }
}





